@media print{
  .screen_only{
    display:none;
  }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h3 {
  text-align:left;
  color:red
}

.login {
  background-color: lightgrey;
}

.intro {
  color: green;
}

#name {
  font-size:1.5em
}

#email {
  font-size:1.5em
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul.c {
  list-style-type: upper-roman;
}

a:link {
  color: red;
}

a:visited {
  color: orange;
}

.box_table>table {
  border-width:1px;
  border-style:solid;
  border-collapse: collapse;
  width: 70%;
}

.box_table>table th, .box_table>table td{
  border: 1px solid purple;
  padding: 5px;
  text-align: center;
}

.box_table>table th {
  background-color: lightgrey;
}

img {
  max-width: 100%
  height: auto;
  display: block;
  magin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 450px
}
